@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import "post-details.css";
@import "text-style.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    max-width: 100vw;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #030027;
    padding: 10px;
    color: white;
    text-shadow: black 1px 1px 5px;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: #182248;
    padding: 5px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F2F3D9;
    padding: 15px;
    min-width: 100px;
}

.socials {
    margin-top: 10px;
}

.icons img {
    width: 25px;
    margin: 2px;
}

.icons img:hover {
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212227;
    color: white;
    padding: 10px;
}

@media screen and (min-width: 600px) {
    article {
        margin: 0 50px;
    }

    .socials {
        margin: 10px 50px;
    }

    figure {
        align-self: center;
    }
}