.avatar img {
    border-radius: 50% 50%;
    height: 100px;
    width: 100px;
}

.post-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .6);
    margin-top: 10px;
    padding: 5px;
}

figcaption {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-height: 500px;
    max-width: 100%;
    margin-top: 20px;
}