@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    max-width: 100vw;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #030027;
    padding: 10px;
    color: white;
    text-shadow: black 1px 1px 5px;
}

h1 {
    font-family: 'Patua One', serif;
    font-size: 2.5em;
}

h3 {
    padding: 3px 0;
    font-size: 1.25em;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: #182248;
    padding: 5px;
}

.nav a {
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: white;
}

main {
    background-color: #F2F3D9;
}

p {
    margin: 5px 0;
}

.post {
    display: flex;
    flex-direction: column;
    margin: 20px;
    min-width: 100px;
    padding: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
    background-color: rgb(239, 239, 239);
}

.post img {
    height: auto;
    width: 100%;
}

button {
    width: 100px;
    text-align: center;
    background-color:#8693AB;
    color: white;
    border: none;
    margin-top: auto;
    padding: 2px;
    align-self: center;
}

button:hover {
    cursor: pointer;
    opacity: .9;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212227;
    color: white;
    padding: 10px;
}

@media screen and (min-width: 550px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .post img {
        height: 250px;
    }
}

@media screen and (min-width: 1100px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .post-1 {
        grid-column: 1 / 3;
    }

    .post {
        margin: 20px 30px;
    }

    .post img {
        max-height: 300px;
    }

    .post-1 img, .post-2 img {
        height: 350px;
    }
}